.kerdes {
    width: 100%;
    margin: auto;
    font-size: xx-large;
    background-color: var(--secondary_variant);
    padding: 0.5rem 0 0.5rem 0;
    margin: 0 0 1rem 0;
}
.valasz {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--primary);
    background-color: var(--on_primary);
    border-radius: 1rem;
}
.valasz:hover {
    background-image: linear-gradient(#50508e, #211a52);
    cursor: pointer;
    color: var(--on_primary);
}
.footer {
    background-color: rgb(55, 61, 71);
    padding: 1px;
    text-align: center;
    padding-bottom: 15px;
}
/*.also_sor {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
    margin-bottom: 1rem;
}
.score {
    font-size: xx-large;
}
.progress_bar {
    font-size: larger;
    text-align: center;
    width: 45rem;
    background-image: linear-gradient(#50508e, #211a52);
    height: 2rem;
}
.ido {
    font-size: larger;
}*/
.report {
    float: right;
    font-size: small;
    padding: 0.5rem;
}

/*@media screen and (max-width: 1359px) {
    .progress_bar {
        width: 58%;
    }
}*/
