:root {
    --primary: #50508E;
    --primary_variant: #211A52;
    --secondary: #7985C1;
    --secondary_variant: #5B6AB0;
    --on_primary: #E8E7F5;
    --on_secondary: #4053A0;
    --warning: #BA0100;
    --fine: #1CBA00;
    --black: #000000;
    --white: #FFFFFF;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Italic.ttf);
    font-weight: bold;
    font-style: italic;
}
a:link, a:visited {
    color: rgb(1, 210, 238);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(47, 235, 0);
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: rgb(224, 96, 11);
    background-color: transparent;
    text-decoration: none;
}
body {
    background-color: var(--primary);
    font-size: larger;
    width: 100%;
    margin: auto;
    color: var(--on_primary);
    font-family: Montserrat;
}
.container {
    width: 1300px;
    margin: 0 auto 30px auto;
    padding-bottom: 1rem;
    background-color: var(--secondary);
}
/* header_logo.html */
.header_logo {
    width: 1300px;
    margin: 0 auto 0 auto;
}
.header_background {
    background-image: url("../images/header_background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 7.5rem;
}
.logo {
    height: 6rem;
    padding: 0.75rem;
}
/* header_logo.html */
/* footer.html */
.footer {
    background-color: rgb(55, 61, 71);
    padding: 1px;
    text-align: center;
    padding-bottom: 15px;
}
/* footer.html */
/* Loader */
#loader_div {
    width: 99vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#loader {
    border: 1.6rem solid var(--primary);
    border-radius: 50%;
    border-top: 1.6rem solid var(--secondary);
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Loader */
@media screen and (max-width: 1359px) {
    .container {
        width: 97%;
        margin: 0;
        padding: 10px 1.5% 15px 1.5%;
    }
    /* header_logo.html */
    .header_logo {
        width: 100%;
    }
    .header_background {
        height: 4.75rem;
    }
    .logo {
        height: 3.5rem;
        padding: 0.75rem;
    }
    /* header_logo.html */
}
@media screen and (max-width: 500px) {
    .header_background {
        background-image: url("../images/header_background_mobile.svg");
    }
}
