.quiz_question {
    margin: auto;
    font-size: xx-large;
    font-weight: bold;
    background-color: var(--secondary_variant);
    padding: 0.5rem 0 0.5rem 1.5rem;
    margin: 0 0 1rem 0;
}
.quiz_answer {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--primary);
    background-color: var(--on_primary);
    border-radius: 1rem;
}
.quiz_answer:hover {
    background-image: linear-gradient(var(--primary), var(--primary_variant));
    color: var(--on_primary);
    cursor: pointer;
}
.time_bar {
    width: 50%;
    height: 0.5rem;
    background-color: var(--warning);
    border-radius: 0.3rem;
}
.progress_bar {
    display: flex;
}
.progress_bar_color {
    position: relative;
    width: 50%;
    height: 2rem;
    background-image: linear-gradient(var(--primary), var(--primary_variant));
}
.progress_bar_border {
    position: absolute;
    width: 1299px;
    height: 1.9rem;
    border: solid var(--primary_variant) 1px;
}
.progress_bar_text {
    position: absolute;
    width: 1299px;
    padding-top: 0.16rem;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.report {
    float: right;
    padding: 0.5rem;
    font-size: small;
    cursor: pointer;
}
@media screen and (max-width: 1359px) {
    .progress_bar_border, .progress_bar_text {
        width: 97%;
    }
    .report {
        position: absolute;
        top: 0;
        right: 0;
    }
}
/* Kettő között */
/*
@media screen and (min-width: 651px) and (max-width: 1359px) {
    
}
*/
@media screen and (max-width: 650px) {
    .quiz_question, .quiz_answer {
        text-align: center;
    }
}
